<div>
    <div id="mainPage">
        <h2>Export - Global DHIS2</h2>

        <div ng-app="ExportCSVApp" ng-controller="homeController">
            <form class="form-inline">
                
                    <label for="period">Period:</label>
                    <select class="form-control" data-live-search=true style='width:347px;font-size:12px' name="period" ng-model="controllerData.period"
                        ng-options="data for data in dateOptions">
                        <option value="">Please Select</option>
                    </select>
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <label for="orgGroup">Organisation Unit Group:</label>
                    <select class="form-control" style='width:347px;font-size:12px' name="orgunit" ng-options="data.displayName for data in orgUnitGroups"
                        ng-model="controllerData.orgunit">
                        <option value="">Please Select</option>
                    </select>
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                <button type="button" ng-click="submit()" value="ClickMe" id="click">Submit</button>

        </div>
        </form>
    </div>
</div>
<div id="loader" style="display:none"></div>

<style>
    /* Center the loader */

    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #34B4DB;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /* Add animation to "page content" */

    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0px;
            opacity: 1
        }
    }

    @keyframes animatebottom {
        from {
            bottom: -100px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }
</style>